.slider {
    width: auto;
}
.articlecard {
    width: fit-content;
    min-height: fit-content;
    height: auto;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    margin-bottom: 1rem;
}


@media only screen and (max-width: 1024px) {
    .slider, .articlecard {
        width: 600px !important;
    }
}
@media only screen and (max-width: 620px) {
    .slider {
        width: 400px !important;
    }
    .articlecard {
        width: 520px !important;
    }
}
@media only screen and (max-width: 500px) {
    .articlecard {
        width: 400px !important;
    }
}
@media only screen and (max-width: 420px) {
    .slider, .articlecard {
        width: 320px !important;
    }
}